h2 {
  border: solid 2px blue; }

h1 {
  font-size: 22px; }

body {
  font-family: "Times New Roman", serif;
  font-size: 15px; }

@media (min-width: 768px) {
  li {
    font-size: 18px; } }

@media (min-width: 1200px) {
  li {
    font-size: 20px;
    word-spacing: 12px; } }
